::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #fff3;
    border-radius: 5px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #ccc7;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}

::selection {
    background-color: #ccc4;
}

#__next, body {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

body {
    overflow-y: scroll;

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        border-radius: 5px;
    }
    
    
}